/SpaceWars/.vs/
/SpaceWars/SpaceWars/x64/Debug/SpaceWars.tlog/CL.command.1.tlog
/SpaceWars/SpaceWars/x64/Debug/assimpModel.obj
/SpaceWars/SpaceWars/x64/Debug/Camera.obj
/SpaceWars/SpaceWars/x64/Debug/imgui.obj
/SpaceWars/SpaceWars/x64/Debug/imgui_demo.obj
/SpaceWars/SpaceWars/x64/Debug/imgui_draw.obj
/SpaceWars/SpaceWars/x64/Debug/imgui_impl_glfw.obj
/SpaceWars/SpaceWars/x64/Debug/imgui_impl_opengl3.obj
/SpaceWars/SpaceWars/x64/Debug/imgui_tables.obj
/SpaceWars/SpaceWars/x64/Debug/imgui_widgets.obj
/SpaceWars/SpaceWars/x64/Debug/Main.obj
/SpaceWars/SpaceWars/x64/Debug/Mesh.obj
/SpaceWars/SpaceWars/x64/Debug/Model.obj
/SpaceWars/SpaceWars/x64/Debug/Planet.obj
/SpaceWars/SpaceWars/x64/Debug/skyBox.obj
/SpaceWars/SpaceWars/x64/Debug/SpaceWars.ilk
/SpaceWars/SpaceWars/x64/Debug/SpaceWars.log
/SpaceWars/SpaceWars/x64/Debug/SpaceWars.tlog/Cl.items.tlog
/SpaceWars/SpaceWars/x64/Debug/SpaceWars.tlog/CL.read.1.tlog
/SpaceWars/SpaceWars/x64/Debug/SpaceWars.tlog/CL.write.1.tlog
/SpaceWars/SpaceWars/x64/Debug/SpaceWars.tlog/link.read.1.tlog
/SpaceWars/SpaceWars/x64/Debug/SpaceWars.tlog/link.write.1.tlog
/SpaceWars/SpaceWars/x64/Debug/SpaceWars.tlog/unsuccessfulbuild
/SpaceWars/SpaceWars/x64/Debug/vc143.idb
/SpaceWars/SpaceWars/x64/Debug/vc143.pdb
/SpaceWars/SpaceWars/x64/Release/assimpModel.obj
/SpaceWars/SpaceWars/x64/Release/Camera.obj
/SpaceWars/SpaceWars/x64/Release/imgui.obj
/SpaceWars/SpaceWars/x64/Release/imgui_demo.obj
/SpaceWars/SpaceWars/x64/Release/imgui_draw.obj
/SpaceWars/SpaceWars/x64/Release/imgui_impl_glfw.obj
/SpaceWars/SpaceWars/x64/Release/imgui_impl_opengl3.obj
/SpaceWars/SpaceWars/x64/Release/imgui_tables.obj
/SpaceWars/SpaceWars/x64/Release/imgui_widgets.obj
/SpaceWars/SpaceWars/x64/Release/Main.obj
/SpaceWars/SpaceWars/x64/Release/Mesh.obj
/SpaceWars/SpaceWars/x64/Release/Model.obj
/SpaceWars/SpaceWars/x64/Release/Planet.obj
/SpaceWars/SpaceWars/x64/Release/skyBox.obj
/SpaceWars/SpaceWars/x64/Release/spaceShip.obj
/SpaceWars/SpaceWars/x64/Release/SpaceWars.iobj
/SpaceWars/SpaceWars/x64/Release/SpaceWars.ipdb
/SpaceWars/SpaceWars/x64/Release/SpaceWars.log
/SpaceWars/SpaceWars/x64/Release/SpaceWars.tlog/CL.command.1.tlog
/SpaceWars/SpaceWars/x64/Release/SpaceWars.tlog/Cl.items.tlog
/SpaceWars/SpaceWars/x64/Release/SpaceWars.tlog/CL.read.1.tlog
/SpaceWars/SpaceWars/x64/Release/SpaceWars.tlog/CL.write.1.tlog
/SpaceWars/SpaceWars/x64/Release/SpaceWars.tlog/link.command.1.tlog
/SpaceWars/SpaceWars/x64/Release/SpaceWars.tlog/link.read.1.tlog
/SpaceWars/SpaceWars/x64/Release/SpaceWars.tlog/link.secondary.1.tlog
/SpaceWars/SpaceWars/x64/Release/SpaceWars.tlog/link.write.1.tlog
/SpaceWars/SpaceWars/x64/Release/SpaceWars.tlog/unsuccessfulbuild
/SpaceWars/SpaceWars/x64/Release/vc143.pdb
/SpaceWars/SpaceWars.vcxproj
/SpaceWars/SpaceWars.vcxproj.filters
/SpaceWars/SpaceWars.vcxproj.user
/SpaceWars/x64/Debug/SpaceWars.exe
/SpaceWars/x64/Debug/SpaceWars.pdb
/SpaceWars/x64/Release/SpaceWars.exe
/SpaceWars/x64/Release/SpaceWars.pdb
